body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101820;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container > h2 {
    color: #FEE715;
}

.grid-container {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    margin: 0;
}


.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: 1px solid #FEE715;
    width: 175px;
    height: 175px;
    cursor: pointer;
    color: #FEE715;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 10%;
    border: 0px solid;
    background-color: #FEE715;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

.currentPlayer {
    margin: 3rem;
    font-size: 1.5rem;
    color:#FEE715;
}

