.grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    margin: 0;
}


.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: 1px solid black;
    width: 175px;
    height: 175px;
    cursor: pointer;
}

button {
    margin: 1rem;
}

.currentPlayer {
    margin: 2rem;
}

.gameOver {
    margin-left: 2rem;
}